@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hell-bg: #ff5733;
  --background: #ffffff;
  --foreground: #171717; /* Your custom color */
}

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family:'Lucida faxe', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@layer utilities {
  .shimmer {
    background: linear-gradient(
      to right,
      #f3f4f6 0%,
      #e5e7eb 50%,
      #f3f4f6 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}


